.bar{
  fill: steelblue;
}

.bar:hover{
  fill: skyblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg {
  background-color: #98fb98;
}
