body {
  margin: 0;
  padding: 0;
  background: url(../images/grass2.jpg);
  background-attachment: fixed;
}
#banner {
  height: 80vh;
  width: 100vw;
  /*background: url(../images/grass2.jpg);
  background-attachment: fixed; */
}
.banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.banner-title {
    background-color: #fff;
    height: 40vh;
    width: 50vw;
    opacity: 0.8;
}
#nav {
  /*position: fixed;
  top: auto;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #fff;
  opacity: 0.8;
}
#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background-color: #fff;
  opacity: 0.8;
}
}
