body {
  margin: 0;
  padding: 0;
  background: url(../images/grass2.jpg);
  background-attachment: fixed;
  background-size: 100%;
}
/*#banner {
  height: 80vh;
  width: 100vw;
  background: url(../images/grass2.jpg);
  background-attachment: fixed;
}*/
.banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  /*background: url(../images/grass2.jpg);*/
  height: 100vh;
  width: 100vw;
}
.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #fff;
  height: 40vh;
  width: 50vw;
  opacity: 0.8;
}
.banner-title {
  margin: 0;
  padding: 0;
  font-size: 6em;
  text-align: center;
  font-family: arial;
  font-weight: bolder;
  color: green;
}
.tag-line {
  margin: 0;
  padding: 0;
  font-size: 3em;
  text-align: center;
  font-family: arial;
  color: seagreen;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: stretch;
  /*background-color: lightblue;*/
  height: 70vh;
  width: 100vw;
}
.aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  /*background-color: #2e8857;*/
  /*background-color: #4cbb17;*/
  background-color: #708238;
}
#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 8%;
  width: 100%;
  background-color: #444c38;
  list-style: none;
  list-style-type: none;
}
.graph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #98fb98;
  height: 100%;
  width: 80%;
}
.flow-data {
  margin: 0;
  padding: 0;
}
#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background-color: #fff;
  opacity: 0.8;
}
.g-box {
  background-color: white;
  border: 1px solid olive;
  height: 50%;
  width: 50%;
  opacity: .5;
}
.n-box {
  border: 1px solid blue;
  height: 50%;
  width: 50%;
}
.a-box {
  background-color: white;
  border: 1px solid blue;
  height: 50%;
  width: 50%;
  opacity: 0.3;
}
