body {
  margin: 0;
  padding: 0;
  background: url(../images/grass2.jpg);
  background-attachment: fixed;
  background-size: 100%;
}
/*#banner {
  height: 80vh;
  width: 100vw;
  background: url(../images/grass2.jpg);
  background-attachment: fixed;
}*/
.banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  /*background: url(../images/grass2.jpg);*/
  height: 100vh;
  width: 100vw;
}
.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #fff;
  height: 40vh;
  width: 50vw;
  opacity: 0.8;
}
.banner-title {
  margin: 0;
  padding: 0;
  font-size: 6em;
  text-align: center;
  font-family: arial;
  font-weight: bolder;
  color: green;
}
.tag-line {
  margin: 0;
  padding: 0;
  font-size: 3em;
  text-align: center;
  font-family: arial;
  color: seagreen;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: stretch;
  /*background-color: lightblue;*/
  height: 70vh;
  width: 100vw;
}
.aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  /*background-color: #2e8857;*/
  /*background-color: #4cbb17;*/
  background-color: #708238;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 8%;
  width: 100%;
  background-color: #444c38;
  list-style: none;
  list-style-type: none;
  overflow: hidden;
  font-family: Arial;
}
.nav a {
  float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}
.nav a:hover, .dropdown:hover .dropbtn {
    background-color: lightgreen;
    color: darkgreen;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
.graph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #98fb98;
  height: 100%;
  width: 80%;
}
.flow-data {
  margin: 0;
  padding: 0;
}
#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background-color: #fff;
}
.g-box {
  background-color: white;
  border: 1px solid olive;
  height: 50%;
  width: 50%;
  opacity: .5;
}
.n-box {
  border: 1px solid blue;
  height: 50%;
  width: 50%;
}
.a-box {
  background-color: white;
  border: 1px solid blue;
  height: 50%;
  width: 50%;
  opacity: 0.3;
}
.select-style {
  height: 100%;
  width: 5em;
  overflow: hidden;
  background: #444c38;
  border-radius: 0;

}
.select-style select {
    padding: 0.5em;
    width: 130%;
    height: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    /*background: transparent;*/
    background-image: none;
    -webkit-appearance: none;
    background: #444c38;
    color: #fff;
    font-size: 1em;
    align-items: center;
}
.select-style select:hover {
  background-color: lightgreen;
  color: darkgreen;
}

.select-style select:focus {
    outline: none;
}
